<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.ckbox.io/ckbox/2.1.0/ckbox.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.ckbox.io/ckbox/2.1.0/styles/themes/lark.css"
        />
        <title>CKEditor</title>
        <style>
            .ck-editor__editable_inline {
                min-height: 400px;
            }
        </style>
    </head>
    <body>
        <div class="mx-auto h-screen flex flex-col">
            <%- include('nav'); %>
            <div class="px-8 flex-1 bg-accents-0">
                <main
                    class="w-full max-w-4xl mx-auto py-16 h-full flex flex-col"
                >
                    <section class="flex flex-col gap-6">
                        <h2 class="text-4xl font-semibold tracking-tight">
                            CKEditor
                        </h2>
                    </section>
                    <hr class="border-t border-accents-2 my-6" />
                    <section class="flex flex-col gap-3 h-4/5">
                        In this example CKBox is integrated with CKEditor. With
                        CKBox plugin, CKEditor will upload files directly to
                        your CKBox environment. Use icon in the top-left corner
                        of the editor to open CKBox as a file picker.
                        <div id="editor"></div>
                    </section>
                </main>
            </div>
        </div>
        <script>
            ClassicEditor.create(document.querySelector('#editor'), {
                ckbox: {
                    tokenUrl: '<%= tokenUrl %>',
                    theme: 'lark'
                },
                toolbar: [
                    'ckbox',
                    'imageUpload',
                    '|',
                    'heading',
                    '|',
                    'undo',
                    'redo',
                    '|',
                    'bold',
                    'italic',
                    '|',
                    'blockQuote',
                    'indent',
                    'link',
                    '|',
                    'bulletedList',
                    'numberedList'
                ]
            }).catch((error) => {
                console.error(error);
            });
        </script>
    </body>
</html>
